.products-table td {
	max-width: 200px;
}
.product-details {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}
.product-details img {
	width: 300px;
}
.add-from {
	width: 80%;
	margin: auto;
}
